.siteFooter-container{
  background-color: gray;
  bottom: 0;
  color: #fff;
  display: block;
  min-height: 100px;
  padding-bottom: 50px;
  position: absolute;
  //text-align: center;
  width: 100%;
}
