<div class="regularLessonsHome-container container">
  <h1>일반 강의</h1>
  <div class="lesson-link-container">
    <div class="lesson-link--lesson" ng-repeat="level in vm.getAllLevels()">
        <a class="lesson-link--text badge badge-pill badge-info" ng-click="vm.goToLesson(level.levelId)">{{"레벨 " + level.levelId}}</a>
    </div>
  </div>
  <div ng-repeat="level in vm.getAllLevels()">
    <div class="regularLessonsHome-level row" id="level-{{level.levelId}}">
      <img class="col-sm-2 regularLessonsHome-level--image" ng-src="{{level.thumbnailImgUrl}}"/>
      <div class="regularLessonsHome-level--summary col-sm-8">
        <p class="regularLessonsHome-level--title">레벨 {{level.levelId}}</p>
        <p>{{level.body}}</p>
      </div>
      <div class="regularLesson-level--expand col-sm-2">
         <a class = "btn btn-primary" data-toggle="collapse" href="#regularLessonsHome-level--lessons--{{level.levelId}}" onclick="toggleButtonText(this)" target=_self>보기</a>
      </div>
    </div>
    <div id="regularLessonsHome-level--lessons--{{level.levelId}}" class="regularLessonsHome-level--lessons panel-collapse collapse list-group">
      <a class="list-group-item" ng-repeat="lesson in vm.getLessonsInLevel(level)" ui-sref="lessons.viewlesson({lessonCode: lesson.code, lessonId: lesson.lessonId})">{{lesson.title}} -- {{lesson.lessonId}}</a>
    </div>
  </div>

  <button type="button" class="btn btn-info btn-circle btn-lg go-to-top-btn" onclick="scrollToTop()"><i class="glyphicon glyphicon-chevron-up"></i></button>

</div>
